<h1>Links</h1>

  <ul id='links'>
    <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL: <%= link.url %>
      </li>
      <% end %>
  </ul>

<a href="links/new" class="button" >Add Link</a>

<form action="/tags/:name" method="post">
  <label for="filter">Filter</label>
  <input type="text" name="filter"  />
  <input class="button" type="submit" value="Filter" />
</form>
